---
title: Science in the Sands
subtitle: Mathematics and computation from the shores of the Red Sea
---

{% include header.html %}

    <div class="row">
      <div class="span12">


          <div class="span6">

                {% for post in site.posts limit:4 %}
                {% include postsummary.html %}
                {% endfor %}
          </div>

        <div class="sidebar">
       

         </div>
      </div> 
    </div>



    <div class="row">
      <div class="span12">
          <hr>
          <h2>Older posts</h2>
          <div class="span9"> <br/> </div>


          <div class="postpreview">
            <div class="row">
              {% for post in site.posts limit:9 offset:4 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
         </div> <!-- end postpreview -->
       </div> <!-- end span12-->
    </div> <!--end row -->




    <div class="row">
      <div class="span12">
        <div style="font-weight:bold; text-align:center;">
          <!--  <p> <i class="icon-chevron-left"></i> <a href="{{ site.url }}/archives.html">Archives by date</a></p> -->
            <p> <i class="icon-list"></i> <a href="{{ site.url }}/categories.html">All entries by category</a> </p>
            <p> <i class="icon-tag"></i> <a href="{{ site.url }}/tags.html">All entries by tag</a> </p>
        </div>
      </div> <!--end span12 -->
    </div> <!--end row -->




{% include footer.html %}

