       <footer class="footer">
         <div class="row">
            <div class="span6">
              <!-- <a href="mailto:dketch@gmail.com"><i class="icon-envelope"></i></a> -->
              <a href="mailto:mireilleBF@gmail.com" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="{{site.url}}/assets/img/icon-email.png" alt="email"> </a> 
             <!--
              <a href="https://github.com/ketch" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="{{site.url}}/assets/img/icon-github.png" alt="github"> </a> 
              <a href="https://plus.google.com/116021515467243730737"><img src="{{site.url}}/assets/img/icon-gplus.png" alt="G+"></a>
             <a href="http://scholar.google.com/citations?user=ORoYyrYAAAAJ&hl=en"><img src="{{site.url}}/assets/img/icon-scholar.png" alt="G+"></a>
              <a href="https://twitter.com/DavidKetch"><img src="{{site.url}}/assets/img/icon-twitter.png" alt="Twitter"></a>
              <a href="http://scicomp.stackexchange.com/users/123/david-ketcheson"><img src="{{site.url}}/assets/img/icon-scicomp.png" alt="Scientific Computing Stackexchange"></a>
                   -->
             
        <a href="{{ site.url }}/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" alt="feed"></a>
            </div>
            <div class="span4">
<a rel="license" href="https://github.com/ketch">This Site is based on David Ketcheson's NoteBlog </a>
            </div>
        </div>
      </footer>
    </div><!-- /container -->
    
    {% include javascript.html %}
  </body>
</html>
